body { background-color: black; margin: 0; padding: 0; color: #F7F7F7; font-family: Verdana; }

.menuButton { padding-top:80px; padding-left: 30px; font-size: 3em; }
.menuButton:hover { text-decoration: underline;}

.newsCard { width: 500px;  margin:auto; background-color: #878784; padding:20px; font-size: 2em; min-height:900px; }

@media (max-width: 1200px) {

    .newsCard { width: 90%; min-height: 1000px; font-size: 3em; }

}

